<html>
    <head>
        <title>Report {{ progetto.ACRONIMO }}</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'/>
        <style>
        .title { font-weight: bold; }
        .div_style{ padding: 10px; border: 1px solid; width: 250px; margin: 10px 0px;}
        .calendario { width: 3% }
        .numbers { text-align: right }
        .rotate { transform: rotate(270deg); }
        table { border-collapse: collapse; border: 1px solid; width:450px; }
        td { padding:4px; }
        </style>
    </head>
    <body>
        <div class='container'>
            <h2>Consuntivo di progetto</h2>
            <div class='row'>
                <div class='col-md-2 title'>
                Titolo:
                </div>
                <div class='col-md-8'>
                {{ progetto.TITOLO }}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-2 title'>
                Acronimo:
                </div>
                <div class='col-md-8'>
                {{ progetto.ACRONIMO }}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-2 title'>
                Grant number:
                </div>
                <div class='col-md-8'>
                {{ progetto.GRANT_NUMBER }}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-2 title'>
                Data inizio:
                </div>
                <div class='col-md-8'>
                {{ progetto.DATA_INIZIO }}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-2 title'>
                Data fine:
                </div>
                <div class='col-md-8'>
                {{ progetto.DATA_FINE }}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-2 title'>
                Supervisor:
                </div>
                <div class='col-md-8'>
                {{ progetto.COGNOME_NOME_SUPERVISOR }}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-2 title'>
                Monte ore previsto:
                </div>
                <div class='col-md-8'>
                {{ progetto.MONTE_ORE_TOT }}
                </div>
            </div>
            <div class='row'>
                <div class='col-md-2 title'>
                Budget previsto:
                </div>
                <div class='col-md-8'>
                {{ data.budget | number_format(2, ',', '.')  }}&euro;
                </div>
            </div>
            {% if data.warning %}
                <div class='row'>
                    <div class='col-md-2 title'>
                    Warning:
                    </div>
                    <div class='col-md-8'>
                    {{ data.warning }}
                    </div>
                </div>
            {% endif %}

<!-- ============================================================================ -->

            <h3>{{ titolo_consuntivi }}</h3>
            <div class='row'>
                <div class='col-md-2 title'>
                Monte ore consumato:
                </div>
                <div class='col-md-2'>
                {{ consuntivi.NUM_ORE_LAVORATE }}
                </div>
                <div class='col-md-2'>
                {% if consuntivi.PCT_SCARTO_TEMPI>0 %}+{% endif %}{{ consuntivi.PCT_SCARTO_TEMPI | number_format(0) }}%
                </div>
            </div>
            <div class='row'>
                <div class='col-md-2 title'>
                Costi sostenuti:
                </div>
                <div class='col-md-2'>
                {{ consuntivi.COSTO | number_format(2, ',', '.')  }}&euro;
                </div>
                <div class='col-md-2'>
                {% if consuntivi.PCT_SCARTO_TEMPI>0 %}+{% endif %}{{ consuntivi.PCT_SCARTO_COSTI | number_format(0) }}%
                </div>
            </div>

<!-- ============================================================================ -->

            {% if completo %}

            <h3>Dettaglio</h3>
<!-- Ci è stato chiesto di mostrare solo il totale, non il dettaglio per date -->

            <table class='table-calendario'>
                <thead>
                    <tr>
                        <th class="title">Dipendente</th>
                        <th class="title numbers">Numero ore</th>
                        <th class="title numbers">Costo &euro;</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dip in consuntivi.dettagli %}
                    <tr>
                        <td class="">{{dip.COGNOME_NOME }}</td>
                        <td class="numbers">
                            {% for d in dip.DETTAGLI %}
                                {% if(d.DATA is null) %}
                                    {{ d.NUM_ORE_LAVORATE }}&nbsp;
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td class="numbers">
                            {% for d in dip.DETTAGLI %}
                                {% if(d.DATA is null) %}
                                    {{ d.COSTO | number_format(2, ',', '.') }}&nbsp;
                                {% endif %}
                            {% endfor %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% endif %}

        </div> <!-- container-->
    </body>
</html>